/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * TSTemplateReversi implementation : © Nevin Foster, nevin.foster2@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#board {
	// Setup Image
	width: 536px;
	height: 528px;
	background-image: url('img/board.jpg');
	// Center the board
	margin: auto;
	left: 0; top: 0; right: 0; bottom: 0;
	// Tokens and squares are absolutely placed relative to the board
	position: relative;
}

.square {
	// Size of a square
	width: 62px;
	height: 62px;
	// Position relative to the board, not affected by other elements.
	position: absolute;
	// Placeholder for validating the positions.
	background-color: red;
}