/*
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * TSTemplateReversi implementation : © Nevin Foster, nevin.foster2@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 */

#board {
	// Setup Image
	width: 536px;
	height: 528px;
	background-image: url('img/board.jpg');
	// Center the board
	margin: auto;
	left: 0; top: 0; right: 0; bottom: 0;
	// Tokens and squares are absolutely placed relative to the board
	position: relative;
}

.square {
	// Size of a square
	width: 62px;
	height: 62px;
	// Position relative to the board, not affected by other elements.
	position: absolute;
}

.token-container {
	background-color: transparent;
	width: 56px;
	height: 56px;
	perspective: 250px;
	position: absolute;
}

.token-flip {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 1.2s;
	transform-style: preserve-3d;
	border-radius:50%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
}

.tokencolor_363636 > .token-flip { transform: rotateY(180deg); }

.token-white, .token-black {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-image: url("img/tokens.png");
}

.token-white {
	background-position: 0px 0px;
}

.token-black {
	background-position: -56px 0px;
	transform: rotateY(180deg);
}

.possibleMove {
	background-color: rgba(255, 255, 255, 0.15);
	cursor: pointer;
	transition: 100ms;
}

.possibleMove:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

// This overrides the #board + .token- images when the .game_style_wooden is automatically added to the page (by the user preference).
.game_style_wooden {
	#board {
		background-image: url('img/wooden_board.jpg');
	}
	.token-white, .token-black {
		background-image: url('img/wooden_tokens.png');
	}
}